.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 400px;
  width: 250px;

  box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.5);
  background-color: #003366;
  color: white;
  border-radius: 10px;

  &_light {
    background-color: #007acc;
    color: black;
  }

  & button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
}

img {
  height: 100px;
}
