main {
  display: flex;
  justify-content: center;
}

section {
  display: flex;
  height: 300px;
  width: 900px;
}

#card1 {
  background-color: aqua;
}
#card2 {
  background-color: orange;
}
#card3 {
  background-color: rgb(212, 85, 212);
}

div {
  height: 90%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
