main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.container1 {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  width: 600px;
  align-content: flex-start;
}
.container2 {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  width: 600px;
  align-content: flex-start;
  justify-content: space-between;
}

div {
  height: 50%;
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#card4 {
  background-color: aqua;
}

#card5 {
  background-color: orange;
}

#card6 {
  background-color: rgb(187, 59, 170);
}

#card7 {
  background-color: red;
}
#card8 {
  background-color: aqua;
}

#card9 {
  background-color: orange;
}

#card10 {
  background-color: rgb(187, 59, 170);
}

#card11 {
  background-color: red;
}

#card12 {
  background-color: greenyellow;
}
