.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(175, 175, 175, 0.5);
  box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.6);
  width: 20%;
  margin-bottom: 20px;
  background-color: black;
  color: white;
  border-radius: 5px;
  font-size: xx-small;

  &_zeroMoon {
    background-color: rgb(190, 188, 188);
    color: black;
  }

  & img {
    width: 60%;
  }
}
