.card {
  // display: flex;
  // flex-direction: column;
  border: 1px solid rgb(37, 37, 37, 0.2);
  box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.6);
  // padding: 20px;
  // font-size: xx-small;
  // width: 20%;

  width: calc(20%); /* 2 cards per row with spacing */
  margin-bottom: 20px;
  background-color: black;
  color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: xx-small;
  align-items: center;

  & img {
    width: 60%;
  }
  // &_zeroMoon {
  //   background-color: grey;
  //   color: black;
  // }
}

.card_zeroMoon {
  // display: flex;
  // flex-direction: column;
  border: 1px solid rgb(37, 37, 37, 0.2);
  box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.6);
  // padding: 20px;
  // font-size: xx-small;
  // width: 20%;

  width: calc(20%); /* 2 cards per row with spacing */
  margin-bottom: 20px;
  background-color: grey;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: xx-small;
  align-items: center;

  & img {
    width: 60%;
  }
  // &_zeroMoon {
  //   background-color: grey;
  //   color: black;
  // }
}
