@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Roboto:wght@100;400&family=Skranji:wght@400;700&display=swap");

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(175, 175, 175, 0.5);
  box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.6);
  width: 20%;
  margin-bottom: 20px;
  background-color: black;
  color: white;
  border-radius: 5px;
  font-size: xx-small;
  font-family: "Montserrat", sans-serif;

  &_zeroMoon {
    background-color: rgb(190, 188, 188);
    color: black;
  }
  & h2 {
    font-family: "Skranji", cursive;
    font-weight: 700;
  }
  & img {
    width: 60%;
  }
}
